[flake8]
exclude = __jac_gen__, .git, __pycache__, venv
plugins = flake8_docstrings, flake8_comprehensions, flake8_bugbear, flake8_annotations, pep8_naming, flake8_simplify
max-line-length = 120
ignore = E203, W503, ANN101, ANN102, D205, D400, D401, D202, E501
